<h1>Exits</h1>

<% for exit in exits %>
  <div><a href="/exits/<%= exit['_id'] %>"><%= exit['title'] %></a><div>
<% end %>

<div>Count: <%= count %></div>

<% if (offset + limit) < count %>
  <a href="/exits?offset=<%= offset + limit %>">Next</a>
<% end %>
<% if (offset - limit) > 0 %>
  <a href="/exits?offset=<%= offset - limit %>">Prev</a>
<% end %>
