<h1 class="title is-1"><%= list_name %></h1>

<div class="subtitle">Count: <%= count %></div>

<% if filters.count > 0 %>
  <h2 class="subtitle">Filters</h2>
  <% for name, list in filters %>
    <div>
      <%= name %> :
      <% for filter in list %>
        <a href="/<%= list_name %>?<%= name %>=<%= filter['_id'] %>"><%= filter['_id'] %></a>
      <% end %>
    </div>
  <% end %>
<% end %>

<br />
<h2 class="subtitle">Result</h2>
<br />
<% for entity in entities %>
  <div>
    <a href="/<%= list_name %>/<%= entity['_id'] %>"><%= entity['title'] %></a>
    <% if entity['tags'] %>
      <% for tag in entity['tags'] %>
        <span class="tag is-primary is-light"><%= tag %></span>
      <% end %>
    <% end %>
  </div>
<% end %>

<nav class="pagination" role="navigation" aria-label="pagination">
  <% if (offset + limit) < count %>
    <a class="pagination-next" href="/<%= list_name %>?offset=<%= offset + limit %>">Next</a>
  <% end %>
  <% if (offset - limit) >= 0 %>
    <a class="pagination-previous" href="/<%= list_name %>?offset=<%= offset - limit %>">Prev</a>
  <% end %>
</nav>
